*.bak
*.tar.gz
.build
.DS_Store
.lwpcookies
.tidyall.d
_build*
blib*
Build
Build.bat
Catalyst-Plugin-ConfigLoaderDirs-*
cover_db
inc
Makefile
Makefile.old
META.*
perltidy.LOG
pm_to_blib*
pod2htm*.tmp
